In [116]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [26]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
218,tt3007512,22500000,15520023,The Water Diviner,Russell Crowe|Olga Kurylenko|Jai Courtney|Isab...,Russell Crowe,A father's journey in search of his sons.,"Four years after the Battle of Gallipoli, Aust...",112,War|Drama,Hopscotch Features|RatPac Entertainment|Seven ...,12/25/2014,6.8,2014
1236,tt1486834,11000000,7847000,What If,Daniel Radcliffe|Zoe Kazan|Rafe Spall|Megan Pa...,Michael Dowse,...being friends has its benefits?,"Wallace, a medical school dropout, has been re...",93,Drama|Comedy|Romance,Fastnet Films|Caramel Film|No Trace Camping,9/7/2013,6.7,2013
690,tt0949731,60000000,163403799,The Happening,Mark Wahlberg|Zooey Deschanel|John Leguizamo|S...,M. Night Shyamalan,We've Sensed It. We've Seen The Signs. Now... ...,When a deadly airborne virus threatens to wipe...,91,Thriller|Science Fiction,Spyglass Entertainment|Twentieth Century Fox F...,6/11/2008,4.8,2008
83,tt0884732,23000000,79799880,The Wedding Ringer,Kevin Hart|Josh Gad|Kaley Cuoco|Affion Crocket...,Jeremy Garelick,He's the best man... money can buy.,Doug Harris is a loveable but socially awkward...,101,Comedy,Miramax Films|Screen Gems|LStar Capital,1/16/2015,6.5,2015
1025,tt1586265,40000000,79700000,What to Expect When You're Expecting,Cameron Diaz|Jennifer Lopez|Elizabeth Banks|An...,Kirk Jones,It's too late to pull out now.,Challenges of impending parenthood turn the li...,110,Romance|Comedy|Drama,Alcon Entertainment|Lionsgate|Phoenix Pictures...,5/17/2012,5.7,2012

In [27]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [72]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [137]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [56]:
# тут пишем ваш код для решения данного вопроса:
data1 = data.copy()
data1 = data1[(data1.budget==data1.budget.max())].original_title
display(data1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [65]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [138]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' 
#'+'

In [58]:
data2 = data.copy()
data2 = data2[(data2.runtime==data2.runtime.max())].original_title
data2

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [139]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
#'+'

In [59]:
data3 = data.copy()
data3 = data3[(data3.runtime==data3.runtime.min())].original_title
data3

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [140]:
answers['4'] = '2. 110'
#'+'

In [62]:
data4 = data.copy()
data4 = data4.runtime.mean()
round(data4, 0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [141]:
answers['5'] = '1. 107'
#'+'

In [35]:
data5 = data.copy()
data5 = data5.runtime.median()
round(data5, 0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [142]:
answers['6'] = '5. Avatar (tt0499549)'
#'+'

In [3]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data6 = data.copy()
data6 = data6[(data6.profit==data6.profit.max())].original_title
data6

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [143]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
#'+'

In [6]:
data7 = data.copy()
data7 = data7[(data7.profit==data7.profit.min())].original_title
data7

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [144]:
answers['8'] = '1. 1478'
#'+'

In [34]:
data8 = data.copy()
data8 = data8[(data8.profit>0)].count()
data8

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [145]:
answers['9'] = '4. The Dark Knight (tt0468569)'
#'+'

In [12]:
data9 = data.copy()

data9=data9.loc[data9.release_year == 2008]
data_9 = data9[(data9.revenue==data9.revenue.max())]
display(data_9)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [146]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
#'+'

In [16]:
data10 = data.copy()
data10 = data10.loc[(data10.release_year <= 2014) & (data10.release_year >= 2012)]
data_10 = data10[(data10.profit==data10.profit.min())]
display(data_10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [147]:
answers['11'] = '3. Drama'
#'+'

In [32]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = data.copy()
data11['genres'] = data11['genres'].apply(lambda x: x.split('|')) #разделяем genres знаком '|'
data11 = data11.explode('genres') #Преобразуем каждый элемент списка в строку, копируя значения индекса
data11['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [148]:
answers['12'] = '1. Drama'
#'+'

In [33]:
data12=data.copy()
data12 = data12[data12.profit > 0]
data12.genres = data12.genres.str.split('|')  
data_12 = data12.explode('genres').genres 
data_12.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [149]:
answers['13'] = '5. Peter Jackson'
#'+'

In [44]:
data133=data.copy()
data133.director = data133.director.str.split('|')
data133 = data133.explode('director')
data133.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [150]:
answers['14'] = '3. Robert Rodriguez'
#'+'

In [51]:
data_14 = data.copy()
data_14 = data_14[data_14.genres.str.contains('Action')]
data_14['director'] = data_14['director'].apply(lambda x: x.split('|'))
data_dir = data_14.explode('director')
data_dir.director.value_counts().sort_values(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Patrick Hughes        1
Malcolm D. Lee        1
Corey Yuen Kwai       1
James Cameron         1
Shane Black           1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [151]:
answers['15'] = '3. Chris Hemsworth'
#'+'

In [61]:
data15 = data.copy()
data15 = data15[(data15.release_year == 2012)]
data15['cast'] = data15['cast'].apply(lambda x: x.split('|'))
data15 = data15.explode('cast')
data15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [152]:
answers['16'] = '3. Matt Damon'
#'+'

In [64]:
data16 = data.copy()
data16 = data16[(data16.budget > data16.budget.mean())]
data16['cast'] = data16['cast'].apply(lambda x: x.split('|'))
data16 = data16.explode('cast')
data16.groupby(['cast'])['original_title'].count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [153]:
answers['17'] = '2. Action'
#'+'

In [69]:
data17 = data.copy()
data17 = data17[(data17.cast.str.contains('Nicolas Cage'))]
data17['genres'] = data17['genres'].apply(lambda x: x.split('|'))
data17 = data17.explode('genres')
data17.genres.value_counts().sort_values(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [154]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
#'+'

In [75]:
data18 = data.copy()
data18 = data18[(data18.production_companies.str.contains('Paramount Pictures'))]
data18 = data18[(data18.profit == data18.profit.min())].original_title
data18

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [155]:
answers['19'] = '5. 2015'
#'+'

In [76]:
data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [156]:
answers['20'] = '1. 2014'
#'+'

In [77]:
data20 = data.copy()
data20 = data20[(data20.production_companies.str.contains('Warner Bros'))]
data20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [157]:
answers['21'] = '4. Сентябрь'
#'+'

In [98]:
data21 = data.copy()
data21.groupby([pd.to_datetime(data21.release_date).dt.month])['original_title'].count().sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [158]:
answers['22'] = '2. 450'
#'+'

In [83]:
data22 = data.copy()
data22.release_date = pd.to_datetime(data22.release_date)
data22[data22.release_date.dt.month.isin([6,7,8])].shape[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [159]:
answers['23'] = '5. Peter Jackson'
#'+'

In [94]:
data23 = data.copy()
data23['director'] = data23['director'].str.split('|')
data23 = data23.explode('director')
data23.release_date = pd.to_datetime(data23.release_date)
data23_groupby = data23[data23.release_date.dt.month.isin([1,2,12])]
data23_groupby.groupby('director')['original_title'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [160]:
answers['24'] = '5. Four By Two Productions'
#'+'

In [124]:
data24 = data.copy()
data24['production_companies'] = data24.production_companies.apply(lambda x:x.split('|'))
data24 = data24.explode('production_companies')
data24['title_len'] = data24['original_title'].apply(lambda x: len(x))
data24[data24.title_len == data24.title_len.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_len
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation,11/2/2006,6.4,2006,243572744,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,11/2/2006,6.4,2006,243572744,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [161]:
answers['25'] = '3. Midnight Picture Show'
#'+'

In [101]:
data_25 = data.copy()
data_25['overview_words_length'] = data_25.overview.map(lambda x: len(x.split(' ')))
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25.groupby('production_companies')['overview_words_length'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_words_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [162]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
#'+'

In [112]:
# Перцентилем выводим все элементы больше 99%
data26 = data.copy()
data_26 = np.percentile(data26['vote_average'], 99)
data_26 = data26[data26['vote_average'] > data_26]
data_26['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [163]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
#'+'

In [166]:
# Импортируем библиотеку itertools
# С помощью функции  Combinations составляем комбинации пар актеров
import itertools as it
data27 = data.copy()
cast = []
for item in data27.cast:
    data_cast = sorted(item.split('|'))
    cast.extend(list(it.combinations(data_cast,2)))
pd.Series(cast).value_counts()[:5]

(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
dtype: int64

# Submission

In [164]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [165]:
# и убедиться что ни чего не пропустил)
len(answers)

27